@model IEnumerable<StellarMinds.Models.SocioModel>

@{
    ViewData["Title"] = "Lista de socios";
}

@if (!String.IsNullOrWhiteSpace(ViewBag.Mensaje))
{
    <div class="alert alert-success">
        @ViewBag.Mensaje
    </div>
}

<h1>Lista de socios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo socio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdSocio" class="btn btn-warning">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
